*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

 
body{
    background:url('/public/background/weather.jpg');
    background-size: cover;
    
    height:100%;
    background-repeat: no-repeat;
    margin: 0 auto;
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background:#1af;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* SEARCH FORM */
.weather{
    
    padding: 5px;
    max-width: 950px;
    width:95%;
    margin-left: 10%;
    margin-right: 15%;
    margin:15px auto;
    font-family: 'Courgette', cursive;
   
    border: 1px dotted #007;
    border-radius:10px;
    opacity:0.85;
    background-color: aliceblue;
}





.place{
    margin-top:15px;
    text-align: center;
   
}

.time{
    text-align: right;
    padding: 15px;
    margin-right: 5px;
    color: #01f;
    
}



.currWeather{
    text-align:center;
    margin-top:20px;
    
}





div{
    font-size:25px;
    font-weight: bold;
}

h1{
    text-align:center;
    margin-top:15px;
}

h2{
    font-size:25px;
}

.search_here{
    margin: 3px;
    width:80px;
    height:45px;
    font-size:19px;
    font-weight: bold;
    border-radius:12px;
    cursor:pointer;
    padding:1px;
    top:0px;
    transition: all ease 0.3s;
    position: relative;
    box-shadow: 0px 5px 0px  lightgray;
    font-family: 'Courgette', cursive;
}

.search_here:active{
    box-shadow: 0 3px 0 #00f;
    top: 3px;
}

.search_here img{
    
    width: 33px;
    height: 27px;
    background: aliceblue;
    opacity: 0.6;
    
}

.search_here::active{
    text-decoration: none;
}

.search_here:focus{
    outline: none;
}

.search{
    padding:10px;
    margin-top:50px;
    text-align: center;
}
input{
    display: inline-block;
}

input[type=text]{
    font-weight:bold;
    font-size:32px;
    text-align: center;
    width:40%;
    border:1px dotted #f11;
    border-radius: 15px 15px ;
    -webkit-border-radius: 15px 15px;
    padding:10px;
    color:#1af;
    font-family: 'Courgette', cursive;
}



input:focus {
    outline:none;
}

input:placeholder-shown{
    color:#1af;
}

#btn_search{
    width:150px;
    height: 57px;
    margin:8px;
    font-size:35px;
    font-weight: bold;
    padding:10px;
    font-weight: bold;
    border: 1px solid #007;
    border-radius:10px 10px;
    -webkit-border-radius:10px 10px ;
    cursor: pointer;
    box-shadow: 0px 5px 0px  #00f;
    top:0px;
    transition: all ease 0.3s;
    position: relative;
    color: whitesmoke;
    background-color: lightskyblue;
    font-family: 'Courgette', cursive;
    
    
}

#btn_search:focus{
    outline:none;
}

#btn_search:active{
    box-shadow: 0 3px 0 #00f;
    top: 3px;
}

.place{
    font-size:35px;
    font-weight: bold;
    padding: 2px;
}

.feel{
    font-size: 35px;
    font-weight: bold;
   
}

 /* RESULTS */
#results{
    font-style: sans-serif;
    color: #00f;
    font-size: 75%;
    width:55%;
    
    background-color: #fff;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    
}

#results li {
    display: block;
    
}

/* SUNRISE AND SUNSET */
.sunset img, .sunrise img{
    width:45px;
    height:35px;
   
}


.pressure, .humidity, .wind_speed, .wind_deg, .rain, .tempMax, .tempMin, .sunrise, .sunset,.visibility, .uvi{
    text-decoration: underline;
    padding: 5px;
}

/* SWITCH BUTTON CELSIUS TO FARHREINHEIT */

.celsfar {
    margin-left: 45.5%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1.2;
    *display: inline;
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .celsfar label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #37ccaa;
    border-radius: 7px;
    font-weight: bold;
    color: #FFF;
    -webkit-transition: background 0.3s, text-indent 0.4s;
    -moz-transition: background 0.3s, text-indent 0.4s;
    -o-transition: background 0.3s, text-indent 0.4;
    transition: background 0.3s, text-indent 0.4s;
    text-indent: 27px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  }
  .celsfar label:after {
    content: '°F';
    display: block;
    position: absolute;
    top: 0px;
    left: 2px;
    width: 100%;
    font-size: 12px;
    color: #591717;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
    z-index: 1;
  }
  .celsfar label:before {
    content: '';
    width: 15px;
    height: 24px;
    border-radius: 4px;
    background: #FFF;
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 2px;
    display: block;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  }
  .celsfar input:checked + label {
    background: lightblue;
    text-indent:8px;
  }
  .celsfar input:checked + label:after {
    content: '°C ';
    color: #091707;
  }
  .celsfar input:checked + label:before {
    
    left:42px;
  }

  
  
  
  

  /* COLUMNS */
  .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    margin: 5px 2px;
}
.column {
    flex: 1;

    margin: 2px;
    padding: 15px;
}
.column:first-child {
    margin-left: 15px;
}
.column:last-child {
    margin-right: 20px;
}


/* AIR QUALITY */

.airQuality{
    padding:5px;
    width: 210px;
    height:140px;
    border-radius: 85%;
    text-align: center;
    padding-top: 30px;
    margin-left: 110px;
    margin-right: 15px;;
    color: #000;
   
}

.qualityIndex{
    font-size:38px;
    padding: 2px;
}
.descrQuality{
    font-size:38px;
    padding: 2px;
}

/* MAP */
#map{
    width:100%;
    height: 330px;
    border-radius: 8px;
    margin:0 auto;
}



/*Media Queries*/



@media only screen and (max-width:489px){
  
    .weather{
        width:90%;
    }
 
    
    #map{
        width:96%;
        height:220px;
    }
    
      input[type='text']{
          width:80%;
      } 
      
      .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
   }
    
   ::-webkit-scrollbar{
       display: none;
   }
   
   .airQuality{
    margin-left: 15%;
    
}
   
   

}




@media only  screen and (max-width:980px){
       
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
   }
    .columns .column:nth-last-child(2) {
        margin-right: 0;
   }
    .columns .column:last-child {
        flex-basis: 100%;
        margin: 0;
   }
    
   .airQuality{
    margin-left:21.5%;
}
  
}

  
    
  
    
    


